@media (max-width: 736px){
  .wrapper{
    display: none;
  }
}
.bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.text-container{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
}
.text-answer span{
	display: none;
}
.text-answer:after{
	content: '人';
}
.modal{
  	display: block;
  	position: fixed;
  	left: 0;
  	top: 0;
  	z-index: 1;
  	width: 100%;
  	height: 100%;
  	overflow: auto;
  	background-color: rgb(0,0,0);
  	background-color: rgba(0,0,0,0.4);
}


.modal-content{
  	background-color: #fefefe;
	position: absolute;
}
.modal-content-1{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.modal-content-2{
	top: 60%;
	left: 60%;
	transform: translate(-60%,-60%);
}
.modal-content-3{
	top: 40%;
	left: 40%;
	transform: translate(-40%,-40%);
}
.modal-content-4{
	top: 75%;
	left: 35%;
	transform: translate(-25%,-65%);
}
.modal-content-5{
	top: 45%;
	left: 70%;
	transform: translate(-45%,-85%);
}
.modal-content-6{
	top: 50%;
	left: 70%;
	transform: translate(-50%,-50%);
}
.modal-content-7{
	top: 60%;
	left: 30%;
	transform: translate(-50%,-50%);
}
.modal-content-8{
	top: 40%;
	left: 60%;
	transform: translate(-50%,-50%);
}
.modal-content-9{
	top: 60%;
	left: 40%;
	transform: translate(-50%,-50%);
}
.modal-content-10{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
/* The Close Button */
.close{
  	color: transparent;	
  	font-size: 28px;
  	font-weight: bold;
}
.close:hover,
.close:focus {
  	text-decoration: none;
  	cursor: default;
}
.close-1{
  	float: right;
  	margin-right: -28px;
}
.close-2{
  	float: left;
	margin-left: -28px;
	margin-top: 80px;
}
.close-3{
  	float: left;
	margin-left: -28px;
	margin-top: 200px;
}
.close-4{
  	float: right;
	margin-right: -80px;
	margin-top: 40px;
}
.close-5{
  	float: left;
	margin-left: -40px;
	margin-top: 120px;
}
.close-6{
  	float: right;
	margin-right: -70px;
	margin-top: 60px;
}
.close-7{
  	float: right;
	margin-right: -40px;
	margin-top: 200px;
}
.close-8{
  	float: left;
	margin-left: -120px;
	margin-top: 300px;
}
.close-9{
  	float: right;
	margin-right: -80px;
	margin-top: 100px;
}
.close-10{
  	float: left;
	margin-left: -40px;
	margin-top: 40px;
}